<div *ngIf="loading" class="mt-4">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading" class="align-content-start px-4 py-4 md:px-6 lg:px-8">
  <main class="form-email md:w-29rem">
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
      autocomplete="off"
    >
      <div>
        <h1 class="mb-3 text-center">Change your password</h1>

        <!-- Email -->
        <div class="flex flex-column gap-2 mb-3">
          <label for="email">Email</label>
          <input
            pInputText
            formControlName="email"
            type="text"
            class="form-control"
            id="email"
          />
        </div>

        <!-- Password -->
        <div class="flex flex-column gap-2 mb-3">
          <label for="newPassword">Password</label>
          <input
            pInputText
            formControlName="newPassword"
            type="password"
            class="form-control"
            id="newPassword"
            aria-describedby="newPassword-help"
            [class.ng-invalid]="
              submitted && resetPasswordForm.get('newPassword')?.errors
            "
          />
          <small id="newPassword-help">
            <span
              class="text-danger"
              *ngIf="
                submitted &&
                resetPasswordForm.get('newPassword')?.hasError('required')
              "
            >
              New password is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                (submitted &&
                  resetPasswordForm
                    .get('newPassword')
                    ?.hasError('minlength')) ||
                resetPasswordForm.get('newPassword')?.hasError('maxlength')
              "
            >
              New password must be at least 6, and maximum 15 characters.
            </span>
          </small>
        </div>

        <div
          class="flex flex-column gap-2 mb-3"
          *ngIf="errorMessages.length > 0"
        >
          <app-validation-messages
            [errorMessages]="errorMessages"
          ></app-validation-messages>
        </div>

        <div class="flex flex-row gap-2 mb-3">
          <button
            [loading]="requestLoading"
            pButton
            pRipple
            type="submit"
            title="Send"
            label="Change Password"
            class="w-full"
            [loading]="loading"
            [rounded]="true"
          ></button>

          <button
            [loading]="requestLoading"
            pButton
            pRipple
            title="Cancel"
            type="button"
            label="Cancel"
            severity="secondary"
            class="w-full"
            [loading]="loading"
            [rounded]="true"
            routerLink="/account/login"
          ></button>
        </div>
      </div>
    </form>
  </main>
</div>
