<p-sidebar
  [(visible)]="display"
  position="left"
  (visibleChange)="onDisplayChanged()"
>
  <!-- <ng-template pTemplate="header">Menu</ng-template> -->
  <ng-template pTemplate="content">
    <div class="flex-grow-1 w-full">
      <ul class="list-none select-none flex-column">
        <li class="pb-2">
          <button
            title="Dashboard"
            label="Dashboard"
            pButton
            pRipple
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex border-round w-full"
            (click)="onMenuItemClicked()"
          >
            <i class="pi pi-home mr-2"></i>
          </button>
        </li>
        <li class="pb-2" *ngFor="let item of menuItems">
          <button
            title="{{ item.label }}"
            label="{{ item.label }}"
            pButton
            pRipple
            routerLink="{{ item.routerLink }}"
            routerLinkActive="active"
            class="flex align-items-center border-round w-full"
            (click)="onMenuItemClicked()"
          >
            <i class="{{ item.icon }} mr-2"></i>
          </button>
        </li>
      </ul>

      <div class="mt-3 mb-3">
        <p-divider />
      </div>
      <ul class="list-none select-none flex-column">
        <li class="pb-2">
          <button
            title="Sign Up"
            label="Sign Up"
            pButton
            pRipple
            routerLink="/account/register"
            routerLinkActive="active"
            class="flex border-round w-full"
            (click)="onMenuItemClicked()"
          >
            <i class="pi pi-plus mr-2"></i>
          </button>
        </li>
        <li class="pb-2">
          <button
            title="Sign In"
            label="Sign In"
            pButton
            pRipple
            routerLink="/account/login"
            routerLinkActive="active"
            class="flex align-items-center border-round w-full"
            (click)="onMenuItemClicked()"
          >
            <i class="pi pi-user mr-2"></i>
          </button>
        </li>
      </ul>
    </div>
  </ng-template>
</p-sidebar>
